//==============================================================================
/*                                                                            *
 *                                   header                                   *
 *  row flexbox including logo and nav                                        *
 *  geometry defined with % and vh to adjust full page fit on screen          *
 *                                                                            */
//==============================================================================
 
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include mobile() {
        margin-top: 3rem;
        height: 8rem;
        align-items: flex-start;
        position:relative;
    }
    @include desktop() {
        margin-top: 5rem;
        margin-left: 100px;
        margin-right: 100px;
        height: 5rem;
        align-items: flex-end;
    }   
    &_logo {
        @include mobile() {
            height: 2rem;
            position: relative;
        }
        @include desktop() {
            height: 5rem;
        }    
    }
    &_top-nav {
        @include mobile(){
            &_burger-menu {
                color: $color-red;
                padding-right: 2px;
                font-size: 2rem;
                //display: inline-block;
            }
            &_ul {
                //display: none;
                list-style: none;
                //display: inline-block;
                //vertical-align: bottom;
                font-size: 1.4rem;
                position: absolute;
                top: 0;
                right: 0;
                &_li {
                    display: block;
                    &_a {
                        display: block;
                        text-decoration: none;
                        font-size: 1.4rem;
                        font-weight: 500;
                        padding: 4px 8px 4px 8px;
                        background-color: $color-white;
                        border-radius: 0.8rem;
                        &:visited, &:link {
                            color: $color-black;               
                        }
                        &:hover, &:active, &:focus {
                            background-color: $color-red;
                            color: $color-white;
                            text-decoration: underline $color-white;
                        }
                    }
                }
            }
        }
        @include desktop() {
            &_burger-menu{
                display:none;
            }
            &_ul {
                list-style: none;
                display: inline-block;
                vertical-align: bottom;
                &_li {
                    display: inline-block;
                    &_a {
                        display: block;
                        text-decoration: none;
                        font-size: 1.8rem;
                        font-weight: 500;
                        padding: 9px 14px 9px 12px;
                        background-color: $color-white;
                        border-radius: 0.8rem;
                        &:visited, &:link {
                            color: $color-black;               
                        }
                        &:hover, &:active, &:focus {
                            background-color: $color-red;
                            color: $color-white;
                            text-decoration: underline $color-white;
                        }
                    }
                }
            }
        }
    }
}
