//==============================================================================
/*                                                                            *
 *                                   header                                   *
 *  row flexbox including logo and nav                                        *
 *  geometry defined with % and vh to adjust full page fit on screen          *
 *                                                                            */
//==============================================================================
 
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    @include desktop() {
        height: 10rem;
        padding-top: 5rem;
        margin-left: 100px;
        margin-right: 100px;
        align-items: flex-end;
    }  
    @include laptop () {
        height: 10rem;
        padding-top: 5rem;
        margin-left: 100px;
        margin-right: 100px;
        align-items: flex-end;
    }
    @include mobile() {
        height: 8rem;
        padding-top: 3rem;
        position:relative;
    } 
    &_logo {
        @include desktop() {
            height: 5rem;
        }
        @include laptop() {
            height: 5rem;
        }
        @include mobile() {
            height: 2rem;
            position: relative;
        }    
    }
    &_top-nav {
        @include desktop() {
            @include one-line-menu();
        }
        @include laptop() {
            @include burger-menu();
        }
        @include mobile() {
           @include burger-menu();
        }
    }
}
