//==============================================================================
/*                                                                            *
 *                                   header                                   *
 *  row flexbox including logo and nav                                        *
 *  geometry defined with % and vh to adjust full page fit on screen          *
 *                                                                            */
//==============================================================================
 
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    
    @include desktop() {
        height: 10rem;
        padding-top: 5rem;
        align-items: flex-end;
    }  
    @include laptop() {
        height: 10rem;
        padding-top: 5rem;
        position:relative;
    }
    @include tablet() {
        height: 9rem;
        padding-top: 4rem;
        position:relative;
    }
    @include small-tablet() {
        height: 8rem;
        padding-top: 3rem;
        position:relative;
    }
    @include mobile() {
        height: 8rem;
        padding-top: 3rem;
        position:relative;
    } 
    &_logo {
        @include desktop() {
            height: 5rem;
        }
        @include laptop() {
            height: 5rem;
        }
        @include tablet() {
            height: 4rem;
        }
        @include small-tablet() {
            height: 3rem;
        }
        @include mobile() {
            height: 2rem;
            position: relative;
        }    
    }
    &_top-nav {
        @include desktop() {
            @include one-line-menu();
        }
        @include laptop() {
            @include burger-menu(2.6);
        }
        @include tablet() {
            @include burger-menu(2);
        }
        @include small-tablet() {
            @include burger-menu(1.5);
        }
        @include mobile() {
           @include burger-menu(1);
        }
    }
}
