//==============================================================================
/*                                                                            *
 * footer : 2 flavors:                                                        *
 * - for desktop, laptop and tablet the copyright is left justified           *
 * - for small tablet and mobile it is centered                               *
 * Roboto font is used.                                                       *
 *                                                                            */
//==============================================================================

.footer {
    @include tablet-or-laptop-or-desktop() {
        margin-top : 9rem;
        @include laptop-or-desktop() {
            margin-left: -6rem; // to overide global body margin
        }  
        margin-bottom: 6rem;
    }
    @include mobile-or-small-tablet() {
        margin-top : 1.8rem;
    }
    &_copyright {
        color: $color-red;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        @include tablet-or-laptop-or-desktop() {
            font-size: 1.5rem;
        }
        @include mobile-or-small-tablet {
            width:100%;
            text-align: center;
            font-size: 1rem;
        }
    }
}