
//==============================================================================
/*                                                                            *
 * index.scss : main sass file for the welcome page                           *
 * 2 main parts:                                                              *
 * - pitch for the welcome page itself                                        *
 * - modal for the modal window. It includes 3 parts:                         *
 *   o a header                                                               *
 *   o the subcription form                                                   *
 *   o the confirmation form                                                  *
 * The diaply of the different part and the form validation are manage by the *
 *                                                                            */
//==============================================================================



//──────────────────────────────────────────────────────────────────────────────
/*
 * <div> pitch
 * For desktop, laptop and tablet title subtitle and subscription button are 
 * displayed over the picture with a black box left size to have box + 
 * background image covering the page width.
 * This is obtained by using a black background for the div pitch (z-index:0)
 * and setting the image with an aboslute position to the upper rigt corner
 * with same height as the pitch div.
 * The title, subtitle and button are displayed sequentially with z-index:1
 * to be over the image even if coming before in the display flow.
 * To have a better look some sizing adapation are done for laptop and tablet
 * vs the pure desktop mockup.   
 * for mobile and small-tablet, a centered display is done: title, subtitle, 
 * background image and subscription button are displayed sequentially asin the
 * html, and the sccss is common.
 */
//──────────────────────────────────────────────────────────────────────────────

.pitch {
    border-radius: 8px;
    @include tablet-or-laptop-or-desktop() {
        margin-top: 8.5rem;
        height: 66rem;
        background-color: $color_black;
        overflow: hidden;
        box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
        position: relative;
    }
    @include mobile-or-small-tablet() {
        margin-top: 3rem;
        background-color: $color-white;
    }
}
.title {
    font-weight: 500;
    @include tablet-or-laptop-or-desktop() {
        margin-left: 56px;
        position: relative;
        color: $color-white;
        z-index:1; // to be overt the picture
        @include desktop() {  // direct use of desktop mockup
            margin-top: 5rem;
            width: 830px;
            line-height: 12.5rem;
            font-size: 9.6rem;
        }
        @include laptop() { // downsizing for laptop
            margin-top: 6rem;
            width: 0.8*830px;
            line-height: 0.8*12.5rem;
            font-size: 0.8*9.6rem;
        }
        @include tablet() { // downsizing for tablet
            margin-top: 11rem;
            width: 0.65*830px;
            line-height: 0.65*12.5rem;
            font-size: 0.65*9.6rem;
        }
    }
    @include mobile-or-small-tablet() { // direct use of mobile mockup
        line-height: 5.2rem;
        font-size: 4rem;
        color: $color-black;
    }
}
.subtitle {
    font-weight: 400;
    @include tablet-or-laptop-or-desktop() { // direct use of desktop mockup
        margin-top: 7rem;
        margin-left: 56px;
        width: 425px;
        position: relative;
        z-index: 1;
        color: $color-white;
        font-size: 2.4rem;
    }
    @include mobile-or-small-tablet() { // direct use of mobile mockup
        margin-top: 2.1rem;
        line-height: 1.7rem;
        font-size: 1.3rem;
    }
}
.background-picture {
    @include tablet-or-laptop-or-desktop() { // following desktop mockup
        height: 66rem;  // full height of the div
        position: absolute;
        top:0; right:0; // upper right corner of the div
        z-index: 0; // to be underneath the text and button
    }
    @include mobile-or-small-tablet() { // following mobile mockup
        margin-top: 4.1rem;
        width: 100%;    // image after the text full page width
        border-radius: 8px;
    }
}
.subscription-launch {
    @include mobile-or-small-tablet() { // for mobile and small-tablet the
        display: flex;                  // button is centered by configuring
        flex-direction: row;            // the container div as flex with 
        justify-content: center;        // centered content
    }
    &_button {
        background-color: $color-red;  // use of the mockup commong part
        color: $color-white;
        border-radius: 0.8rem;
        border:none;
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-style: normal;
        @include tablet-or-laptop-or-desktop() { //desktop mockup sizing
            margin-top: 7rem;
            margin-left: 56px;
            padding: 11px 30px 11px 30px;
            display: inline-block;
            font-size: 2.5rem;
            position: relative; // to have the button over the image both 
            z-index: 1;         // position relative and z:index:1 are necessary
        }
        @include mobile-or-small-tablet(){ // mobile mockup sizing
            margin-top: 2.6rem;
            padding: 7px 30px 7px 30px;
            font-size: 1.4rem;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

//──────────────────────────────────────────────────────────────────────────────
/*
 * <div> lightbox
 * 
 * It is used to cover all the page body when the modal window is displayed.
 * It is declared at the end of the body to actually cover everything.
 * It is displayed on the click on the suvscirption button and close when the
 * modal window is closed. This is managed by the JavaScript code in modal.js.
 * z-index:1 is used to cover the text of the pitch div.
 */
//──────────────────────────────────────────────────────────────────────────────

.lightbox {
    //visibility: hidden; // made visible by JS
    display: none; // initally the light box is not displayed
    position:fixed;
    top:0; left: 0;
    bottom: 0; right:0;
    background: rgba(196, 196, 196, .7);
    z-index: 1; // to cover pitch text.
}

//──────────────────────────────────────────────────────────────────────────────
/*
 * <div> .modal_container
 * 
 * It is used to position the modal window below the header and to center it on
 * the page width. It is always displayed as when the modal is not displayed it
 * is empty.
 * z-index:2 to be over the lightbox (z-index:1 and come later in the flow)
 */
//──────────────────────────────────────────────────────────────────────────────

.modal-container {
    position: absolute;
    @include desktop() { // below the header, usind appropriate header height
        top: $desktop-header-height;
    }
    @include laptop() {
        top: $laptop-header-height;
    }
    @include tablet() {
        top: $tablet-header-height;
    }
    @include small-tablet() {
        top: $small-tablet-header-height;
    }
    @include mobile() {
        top: $mobile-header-height;
    }
    left: 0;
    z-index:2; // to be over the lightbox
    width:100%;                     // to have the modal
    display: flex;                  // window centered on
    justify-content: center;        // the page width
 }

//──────────────────────────────────────────────────────────────────────────────
/*
 * <div> .modal
 * 
 * It is the frame of the modal. It has 2 flavors:
 * - full size version of the desktop mockup. It is used for desktop, laptop,
 *   and tablet 
 * - donwsized version of the mobile mockup. It is used for mobile and small
 *   tablet.
 * Initialy it is not displayed (display: none) and its display is triggered by
 * the click of the subcription button (managed by JavaScript code in modal.js).
 * It includes 2 parts:
 * - header: it is a common part of subcription and confimation window, and 
 * includes only the quit icon to close the modal. It is always displayed, it is
 * hidden when the modal iself is closed.
 * - main: it includes the 2 exclusive parts subscription and confirmation.
 *   Their display is managed by the JavaScript code in modal.js.
 */
//──────────────────────────────────────────────────────────────────────────────
.modal {
    display:none; // made flex by JS
    flex-direction:column;
    justify-content: center;
    position: relative;
    width:100%;
    background-color: $color-black;
    color: $color-white;
    @include tablet-or-laptop-or-desktop() { // desktop sizing
        width: 536px;
        position: relative;
        border-radius: 0.8rem;
    }
    @include mobile-or-small-tablet() { // mobile sizing
        max-width: 460px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0.8rem 0.8rem 0 0;
    }   
//──────────────────────────────────────────────────────────────────────────────
/*
 * <div> .header 
 * 
 * It include only the quit icon (&times character)
 * The clik on the icon is managed by the JavaScript code in modal.js.
 */
//──────────────────────────────────────────────────────────────────────────────
    &_header {
        @include tablet-or-laptop-or-desktop() { // desktop sizing
            height: 3.6rem;
        }
        @include mobile-or-small-tablet() { // mobile sizing
            height: 3rem;
        }
        &_modal-quit-icon {
            color:white;
            text-decoration: none;
            position: absolute;
            @include tablet-or-laptop-or-desktop() { // desktop sizing
                top: 2.4rem;
                right: 2.4rem;
                font-size: 4.6rem;
                line-height: 1.7rem;
            }
            @include mobile-or-small-tablet() { // mobile sizing
                top: 2rem;
                right: 2rem;
                font-size: 4rem;
                line-height: 1.7rem;
            }
            &:hover {
                cursor: pointer; // to indicate iteractivity of the icon
            }
        }
    }
    &_main {
        font-size: 0; // to avaoid white spaces
        @include tablet-or-laptop-or-desktop() { //desktop sizing
            padding-left: 3.9rem;  
            padding-right: 3.9rem;    
        }
        @include mobile-or-small-tablet() { // mobile sizing
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }
}
//──────────────────────────────────────────────────────────────────────────────
/*
 * <div> .modal subcription 
 * 
 * It used to hide the subscription form.
 * The display is managed by the JavaScript code in modal.js.
 */
//──────────────────────────────────────────────────────────────────────────────

.modal_subscription {
    display: none; // become flex by JS
}
//──────────────────────────────────────────────────────────────────────────────
/*
 * <div> .subcription_form 
 * 
 * It includes all the subscription. it is the most complex part.
 * 
 */
//──────────────────────────────────────────────────────────────────────────────

.subscription_form {
/**
 * <class> subscription_form_label : used to format the <label> of the input
 * fields.
 * To be noted, for the number of tournament played, the label is different for
 * desktop and mobile mockup. This is achieved by setting the label in the
 * :before pseudo-element with an l=empty html content.
**/
    &_label {
        display: block;
        line-height: 1.4rem;
        font-size: 1.4rem;
        font-weight: 400;
        @include tablet-or-laptop-or-desktop { // desktop sizing and label w/ GameOn
            margin-top: 0.8rem;
            &--played-tournament-number:before {
                content: "À combien de tournois GameOn avez-vous déjà participé ?"
            }
        }
        @include mobile-or-small-tablet {
            margin-top: 0.6rem;
            &--played-tournament-number:before { // mobile sizing and label w/o GameOn
                content: "À combien de tournois avez-vous déjà participé ?"
            }
        }
    }
/**
 * <class> subscription_form_input : used to format the textual input fields
 * 
**/
    &_input {
        width:100%;
        border: 1px solid #C4C4C4;
        border-radius: 0.8rem;
        font-size: 1.8rem;
        line-height: 1.8rem;
        font-weight: 400;
        @include tablet-or-laptop-or-desktop { // desktop sizing
            margin-top: 0.7rem;
            height: 6.4rem;
        }
        @include mobile-or-small-tablet { // mobile sizing
            margin-top: 0.7rem;
            height: 4rem;
        }
        &:hover {
            cursor: text; // to indicate interactivity of the field
        }
    }
/**
 * <class> subscription_form_error-message : used to format the error messages
 * associated to each input fields
 * 
**/
    &_error-message {
        margin-top: 0.2rem;
        font-size: 1.1rem;
        height: 1.1rem;
        line-height: 1.1rem;
        color: $color-warning;
    }
//──────────────────────────────────────────────────────────────────────────────
/*
 * <div> .subcription_form_input_location 
 * 
 * It includes all the elements necessary for the tournament location selection.
 * 6 radio buttons are use after inhibition of their default behavior. For that
 * display:none is used on the input field as appereance:none left a 16x16 
 * pixels white space on IOS (iPad and iPhone).
 * The buttons circles are created using :before and :after pseudo element 
 * borders of the label. :before is position:relative to have :after position
 * absolute to center of the 2 cirlces.
 * They are sized according to the 2 mockup. When unchecked only the outer 
 * circle is diplayed in grey, when check the 2 circles are displayed in green. 
 * 
 */
//──────────────────────────────────────────────────────────────────────────────
    &_input-location {
        margin-top: 0.8rem;
        margin-left: 0; margin-right:0;
    }
    &_input-radio {
        display: none;// to inhibate default beavior/appearence
        &:checked + label:before,
        &:checked + label:after {
            border-color: $color-green; // check => 2 green circles displayed 
        }
        &_label {
            position: relative;
            font-size: 1.2rem;
            line-height: 1.2rem;
            font-weight: 400;
            display: inline-block;
            vertical-align: middle;
            @include tablet-or-laptop-or-desktop { // desktop sizing
                margin-top: 1.0rem;
                margin-right: 2.8rem;
            }
            @include mobile-or-small-tablet { // mobile sizing
                margin-top: 0.6rem;
                margin-right: 1.0rem;
            }    
            &:hover {
                cursor: pointer;
            }
            &:before {
                content: "";
                display: inline-block;
                position: relative;
                vertical-align: middle;
                top: 0; 
                left: 0;
                border-radius: 50%;
                border:  0.1rem solid $color-grey;
                @include tablet-or-laptop-or-desktop() { //desktop sizing
                    margin-right: 6px;
                    width: 26px;
                    height: 26px;
                }
                @include mobile-or-small-tablet() { // mobile sizing
                    margin-right: 5px;
                    width: 20px;
                    height: 20px;
                }
            }
            &:after {
                content: "";
                display: inline-block;
                position: absolute;
                top: 4px;
                left:4px;
                width: 0;
                height: 0;
                border-radius: 50%;
                @include tablet-or-laptop-or-desktop() { // desktop sizing
                    border:  (26-8)/2*1px solid $color-black;
                }
                @include mobile-or-small-tablet() { // mobile sizing
                    border:  (20-8)/2*1px solid $color-black;
                }
            }
        }
    }
/**
 * <class> subscription_form_input-checkbox : used to format the checkboxes 
 * used for terms of use and next event notification fields.
 * Default behavior is inhibited with display:none (appereance: none left
 * some white space on iOS. The checkbox is recreated via the label including
 * a fontawesome check icon: 
 *   - When checked the fontawesome check icon is diplayed in white on green, 
 *   - otherwise it is grey on grey (invisible).
 * 
**/
    &_input-checkbox{
        display: none; // to overide default behavior
        &:checked + label > &_label_icon-check {
            background-color: $color-green; 
            color: $color-white;
        }
        &_label {
            margin-right: 1.4rem;
            font-size: 1.2rem;
            font-weight: 400;
            display: inline-block;
            position: relative;
            @include tablet-or-laptop-or-desktop() { // desktop sizing
                margin-top: 0.2rem;
                line-height: 2.6rem;
            }
            @include mobile-or-small-tablet { //mobile sizing
                margin-top: 0.6rem;
                line-height: 2rem;
            }
            &:hover {
                cursor: pointer; // to show interactivity of the field
            }
            &_icon-check {
                display: inline-block;
                position: relative;
                margin-right: 0.6rem;
                border-radius: 6px;
                background-color: $color-grey;
                color: $color-grey;
                @include tablet-or-laptop-or-desktop() { // desktop sizing
                    width: 2.6rem;
                    height: 2.6rem;
                    font-size: 1.4rem;
                    padding-left: (26-14)/2*1px;
                }
                @include mobile-or-small-tablet() { // mobile sizing
                    width: 2rem;
                    height: 2rem;
                    font-size: 1rem;
                    padding-left: (20-10)/2*1px;
                }
            }
        }
    }
//──────────────────────────────────────────────────────────────────────────────
/*
 * <div> .subcription_form_submit 
 * 
 * It includes the submit button of the form. The click on the button trigger
 * the submit event that it catch by JavaScript code in modal.js to validate
 * the form. The vlidaiton is process is described in modal.js
 * The div and the button are sized according the 2 mockup.  
 * The button is centered with display:flex justify-content:center
 */
//──────────────────────────────────────────────────────────────────────────────
    &_submit {
        display: flex;              // to center
        justify-content: center;    // the button
        @include tablet-or-laptop-or-desktop() { //desktop sizing
            margin-top: 1.6rem;
            margin-bottom: 1.7rem;
        }
        @include mobile-or-small-tablet() { // mobile sizing
            margin-top: 0.6rem;
            margin-bottom: 2.2rem;
        }
        &_button {
            font-size: 1.4rem;
                font-weight: 500;
                font-style: normal;
                background-color: $color-red;
                color: $color-white;
                border-radius: 0.8rem;
                border:none;
            @include tablet-or-laptop-or-desktop() { // desktop sizing
                padding: 11px 56px 11px 56px;
            }
            @include mobile-or-small-tablet() { // mobile sizing
                padding: 6px 35px 6px 35px;
            }
            &:hover {
                cursor: pointer; // to indicate interactivity of the label
            }
        }
    }
}
/**
 * <class> .has-error : subclass used to color the border in red of the input
 * field (textual) when an error is dectected. The subclass is added/removed
 * during the form validation process manage by JavaScript code in modal.js 
 * when the sub class is absent the border is grey.
 * 
**/
.has-error {
    border-color: $color-warning;
}

//──────────────────────────────────────────────────────────────────────────────
/*
 * <div> .modal_confirmation 
 * 
 * It includes the confirmation modal. Its display is managed by the JavaScript
 * code in modal.js.
 * The sizing is done according to the 2 mockup.
 */
//──────────────────────────────────────────────────────────────────────────────

.modal_confirmation {
    display: none; // changed to flex by JS
    width:100%;
    flex-direction:column;
    align-items: center;
//──────────────────────────────────────────────────────────────────────────────
/*
 * <div> .modal_subscription_content : includes the confirmation message 
 * 
 * The sizing is done according to the 2 mockup.
 */
//──────────────────────────────────────────────────────────────────────────────
    &_content {
        display: flex;
        justify-content: center;
        align-items: center;
        @include tablet-or-laptop-or-desktop() {
            height: 74.6rem;
        }
        @include mobile-or-small-tablet() {
            height: 56rem;
        }
/**
 * <class> .modal_subscription_content_message :  used to format the
 * confirmation message.
 * 
**/
        &_message {
            text-align: center;
            font-size: 3.6rem;
            line-height: 5.6rem;
            @include mobile-or-small-tablet() {
                width: 28rem;
            }
        }
    }
//──────────────────────────────────────────────────────────────────────────────
/*
 * <div> .modal_confirmation_close
 * 
 * It includes the close button of the confirmation form. The click on the
 * triggers the closure of the modal as the quit icon of the header.
 * The clisk iscatch by JavaScript code in modal.js.
 * The div and the button are sized according the 2 mockup.  
 * The button is centered with display:flex justify-content:center
 * (very similar to subcription_form_submit)
 */
//──────────────────────────────────────────────────────────────────────────────    
    &_close {
        display: flex;
        justify-content: center;
        @include tablet-or-laptop-or-desktop() {
            margin-bottom: 1.8rem;
        }
        @include mobile-or-small-tablet() {
            margin-bottom: 2.1rem;
        }
        &_button {
            font-size: 1.4rem;
            font-weight: 500;
            font-style: normal;
            background-color: $color-red;
            color: $color-white;
            border-radius: 0.8rem;
            border:none;
            @include tablet-or-laptop-or-desktop() {
                padding: 11px 56px 11px 56px;
            }
            @include mobile-or-small-tablet() {
                padding: 6px 35px 6px 35px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}
