.pitch {
    border-radius: 8px;
    @include desktop-or-laptop-or-tablet() {
        margin-top: 8.5rem;
        height: 66rem;
        background-color: $color_black;
        overflow: hidden;
        box-shadow: 0px 12px 12px rgba(0, 0, 0, 0.25);
        position: relative;
    }
    @include mobile-or-small-tablet() {
        margin-top: 0;
        background-color: $color-white;
    }
}
.title {
    font-weight: 500;
    @include desktop-or-laptop-or-tablet() {
        margin-left: 56px;
        position: relative;
        color: $color-white;
        z-index:1;
        @include desktop() {
            margin-top: 5rem;
            width: 830px;
            line-height: 12.5rem;
            font-size: 9.6rem;
        }
        @include laptop() {
            margin-top: 6rem;
            width: 0.8*830px;
            line-height: 0.8*12.5rem;
            font-size: 0.8*9.6rem;
        }
        @include tablet() {
            margin-top: 11rem;
            width: 0.65*830px;
            line-height: 0.65*12.5rem;
            font-size: 0.65*9.6rem;
        }
    }
    @include mobile-or-small-tablet() {
        line-height: 5.2rem;
        font-size: 4rem;
        color: $color-black;
    }
}
.subtitle {
    font-weight: 400;
    @include desktop-or-laptop-or-tablet() {
        margin-top: 7rem;
        margin-left: 56px;
        width: 425px;
        position: relative;
        z-index: 1;
        color: $color-white;
        font-size: 2.4rem;
    }
    @include mobile-or-small-tablet() {
        margin-top: 2.1rem;
        line-height: 1.7rem;
        font-size: 1.3rem;
    }
}
.background-picture {
    @include desktop-or-laptop-or-tablet() {
        height: 66rem;
        position: absolute;
        top:0;
        right:0;
        z-index: 0;
    }
    @include mobile-or-small-tablet() {
        margin-top: 4.1rem;
        width: 100%;
        border-radius: 8px;
    }
}
.subscription-launch {
    @include mobile-or-small-tablet() {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    &_button {
        background-color: $color-red;
        color: $color-white;
        border-radius: 0.8rem;
        border:none;
        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-style: normal;
        @include desktop-or-laptop-or-tablet() {
            margin-top: 7rem;
            margin-left: 56px;
            padding: 11px 30px 11px 30px;
            display: inline-block;
            font-size: 2.5rem;
            position: relative;
            z-index: 1;
        }
        @include mobile-or-small-tablet(){
            margin-top: 2.6rem;
            padding: 7px 30px 7px 30px;
            font-size: 1.4rem;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

.lightbox {
    visibility: hidden; // made visible by JS
    display: block;
    position:fixed;
    top:0; left: 0;
    bottom: 0; right:0;
    background: rgba(196, 196, 196, .7);
    z-index: 1;
}
// used to center modal, allways visible as when not to be seen it is empty.
.modal-container {
    position: absolute;
    top:0; left: 0;
    z-index:2;width:100%;
    display: flex;
    justify-content: center;
    
}

.modal {
    display:none; // made flex by JS
    flex-direction:column;
    justify-content: center;
    position: relative;
    width:100%;
    z-index:2;
    background-color: $color-black;
    color: $color-white;
    @include desktop-or-laptop-or-tablet() {
        margin-top: 7.5rem;
        width: 536px;
        height: 85rem;
        position: relative;
        border-radius: 0.8rem;
    }
    @include mobile-or-small-tablet() {
        margin-top: 7.6rem;
        max-width: 460px;
        height: 659px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0.8rem 0.8rem 0 0;
    }   
    &_header {
        @include desktop-or-laptop-or-tablet() {
            height: 3.6rem;
        }
        @include mobile-or-small-tablet() {
            height: 3rem;
        }
        &_modal-quit-icon {
            color:white;
            text-decoration: none;
            position: absolute;
            @include desktop-or-laptop-or-tablet() {
                top: 2.4rem;
                right: 2.4rem;
                font-size: 4.6rem;
                line-height: 1.7rem;
            }
            @include mobile-or-small-tablet() {
                top: 2rem;
                right: 2rem;
                font-size: 4rem;
                line-height: 1.7rem;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
    &_main {
        font-size: 0; // to avaoid white spaces
        @include desktop-or-laptop-or-tablet() {
            padding-left: 3.9rem;  
            padding-right: 3.9rem;    
        }
        @include mobile-or-small-tablet() {
            margin-left: 3rem;
            margin-right: 3rem;
        }
    }
}
.modal_subscription {
    display: none;
}

.subscription_form {
    &_label {
        display: block;
        line-height: 1.4rem;
        font-size: 1.4rem;
        font-weight: 400;
        @include desktop-or-laptop-or-tablet {
            margin-top: 0.8rem;
            &--played-tournament-number:before {
                content: "À combien de tournois GameOn avez-vous déjà participé ?"
            }
        }
        @include mobile-or-small-tablet {
            margin-top: 0.6rem;
            &--played-tournament-number:before {
                content: "À combien de tournois avez-vous déjà participé ?"
            }
        }
    }
    &_input {
        width:100%;
        border: 1px solid #C4C4C4;
        border-radius: 0.8rem;
        font-size: 1.8rem;
        line-height: 1.8rem;
        font-weight: 400;
        @include desktop-or-laptop-or-tablet {
            margin-top: 0.7rem;
            height: 6.4rem;
        }
        @include mobile-or-small-tablet {
            margin-top: 0.7rem;
            height: 4rem;
        }
        &:hover {
            cursor: text;
        }
    }
    &_error-message {
        margin-top: 0.2rem;
        font-size: 1.1rem;
        height: 1.1rem;
        line-height: 1.1rem;
        color: $color-warning;
    }
    &_input-location{
        margin-top: 0.8rem;
    }
    &_input-radio{
        appearance: none;
        &:checked + label:before,
        &:checked + label:after {
            border-color: $color-green; 
        }
        &_label {
            margin-right: 2.8rem;
            font-size: 1.2rem;
            line-height: 1.2rem;
            font-weight: 400;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            @include desktop-or-laptop-or-tablet {
                margin-bottom: 1.0rem;
            }
            @include mobile-or-small-tablet {
                margin-bottom: 0.6rem;
            }    
            &:hover {
                cursor: pointer;
            }
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                top: 0; 
                left: 0;
                border-radius: 50%;
                border:  0.1rem solid $color-grey;
                margin-right: 6px;
                @include desktop-or-laptop-or-tablet() {
                    width: 26px;
                    height: 26px;
                }
                @include mobile-or-small-tablet() {
                    width: 20px;
                    height: 20px;
                }
            }
            &:after {
                content: "";
                display: inline-block;
                position: absolute;
                top: 4px;
                left:4px;
                width: 0;
                height: 0;
                border-radius: 50%;
                @include desktop-or-laptop-or-tablet() {
                    border:  (26-8)/2*1px solid $color-black;
                }
                @include mobile-or-small-tablet() {                 
                    border:  (20-8)/2*1px solid $color-black;
                }
            }
        }
    }
    &_input-checkbox{
        appearance: none;
        &:checked + label > &_label_icon-check {
            background-color: $color-green; 
            color: $color-white;
        }
        &_label {
            margin-right: 1.4rem;
            font-size: 1.2rem;
            font-weight: 400;
            display: inline-block;
            position: relative;
            @include desktop-or-laptop-or-tablet() {
                margin-top: 0.2rem;
                line-height: 2.6rem;
            }
            @include mobile-or-small-tablet {
                margin-top: 0.6rem;
                line-height: 2rem;
            }
            &:hover {
                cursor: pointer;
            }
            &_icon-check {
                display: inline-block;
                position: relative;
                margin-right: 0.6rem;
                border-radius: 6px;
                background-color: $color-grey;
                color: $color-grey;
                @include desktop-or-laptop-or-tablet() {
                    width: 2.6rem;
                    height: 2.6rem;
                    font-size: 1.4rem;
                    padding-left: (26-14)/2*1px;
                }
                @include mobile-or-small-tablet() {
                    width: 2rem;
                    height: 2rem;
                    font-size: 1rem;
                    padding-left: (20-10)/2*1px;
                }
            }
        }
    }
    &_submit {
        display: flex;
        justify-content: center;
        @include desktop-or-laptop-or-tablet() {
            margin-top: 1.6rem;
        }
        @include mobile-or-small-tablet() {
            margin-top: 0.6rem;
            margin-bottom: 2.2rem;
        }
        &_button {
            font-size: 1.4rem;
                font-weight: 500;
                font-style: normal;
                background-color: $color-red;
                color: $color-white;
                border-radius: 0.8rem;
                border:none;
            @include desktop-or-laptop-or-tablet() {
                padding: 11px 56px 11px 56px;
            }
            @include mobile-or-small-tablet() {
                padding: 6px 35px 6px 35px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.has-error {
    border-color: $color-warning;
}

.modal_confirmation {
    display: none; // changed to flex by JS
    width:100%;
    flex-direction:column;
    align-items: center;
    &_content {
        display: flex;
        justify-content: center;
        align-items: center;
        @include desktop-or-laptop-or-tablet() {
            height: 74.6rem;
            display: flex;
            justify-content: center;
            align-items: center;
            &_message {
                text-align: center;
                font-size: 3.6rem;
                line-height: 5.6rem;
            }
        }
        @include mobile-or-small-tablet() {
            height: 56rem;
            &_message {
                text-align: center;
                width: 28rem;
                font-size: 3.6rem;
                line-height: 5.6rem;
                padding-bottom: 7rem;
            }
        }
    }
    &_close {
        display: flex;
        justify-content: center;
        &_button {
            font-size: 1.4rem;
            font-weight: 500;
            font-style: normal;
            background-color: $color-red;
            color: $color-white;
            border-radius: 0.8rem;
            border:none;
            @include desktop-or-laptop-or-tablet() {
                padding: 11px 56px 11px 56px;
            }
            @include mobile-or-small-tablet() {
                padding: 6px 35px 6px 35px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}
