
//──── colors definition ───────────────────────────────────────────────────────
$color-red: #FE142F;
$color-black: #232323;
$color-white: #FFFFFF;
$color-green: #279E7A;
$color-blue:#7C62FF;
$color-grey: #C4C4C4;
$color-warning: #FF4E60;


//──── breapoints definition ───────────────────────────────────────────────────
$mobile-breakpoint: 576px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 992px;
$desktop-breakpoint: 1200px;


//──── header heights ──────────────────────────────────────────────────────────
$mobile-header-height: 5rem;
$small-tablet-header-height: 7rem;
$tablet-header-height: 8rem;
$laptop-header-height: 9rem;
$desktop-header-height: 10rem;

//──── logo heights ──────────────────────────────────────────────────────────
$mobile-logo-height: 2rem;
$small-tablet-logo-height: 3rem;
$tablet-logo-height: 4rem;
$laptop-logo-height: 4.5rem;
$desktop-logo-height: 5rem;
